<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--WEBAPI-->
    <add key="WebApiURL" value="http://localhost:1386/api/" />

    <!--DATABASE-->
    <!--<add key="ConnectionString" value="Data Source=LSPORTATILPC;Initial Catalog=SAV3;Integrated Security=SSPI;"/>-->
    <add key="ConnectionString" value="Data Source=machine;Initial Catalog=database;User ID=sa;Password=pass;"/>
  </appSettings>

</configuration>